extends layout

block content
  - var navPage = 'about'
  h1 About

  br

  h2.h5 v#{version} 
    if (!upstreamVersion)
      i.fa.fa-exclamation-triangle.text-warning.ms-4.me-2
      span.fw-normal.fs-6.text-muted Error: Unable to obtain upstream version
    if (upstreamVersion > version)
      i.fa.fa-exclamation-triangle.text-warning.ms-4.me-2
      a.fw-normal(href='https://github.com/ameer1234567890/MeetKettle/releases/tag/v' + upstreamVersion) New version #{upstreamVersion} available

  br

  h2.h5 Designed and developed by Ameer Dawood
  p MeetKettle, the name is a combination of "Meet" and "Kettle" which when translated to Dhivehi has a synonym meaning "to do something". The combination of these two words mean to do or conduct a meeting.
  p MeetKettle is opensource and licensed under MIT license. MeetKettle's source code can be viewed at 
    a(href='https://github.com/ameer1234567890/MeetKettle') github.com/ameer1234567890/MeetKettle

  br

  h2.h5 The Stack
  ul
    li
      a(href='https://nodejs.org/') Node.js
      |  - A free, open-sourced, cross-platform JavaScript run-time environment that lets developers write command line tools and server-side scripts outside of a browser.
    li
      a(href='https://expressjs.com/') Express
      |  - Fast, unopinionated, minimalist web framework for Node.js.
    li
      a(href='https://pugjs.org/') pug
      |  - A high-performance template engine heavily influenced by Haml and implemented with JavaScript for Node.js and browsers.
    li
      a(href='https://express-validator.github.io/') Express Validator
      |  - A set of express.js middlewares that wraps validator.js validator and sanitizer functions.
    li
      a(href='https://npmjs.com/package/sqlite3') sqlite3
      |  - Asynchronous, non-blocking SQLite3 bindings for Node.js.
    li
      a(href='https://npmjs.com/package/sqlite-sync') sqlite-sync
      |  - Synchronous sqlite for Node.js.
    li
      a(href='https://npmjs.com/package/express-session') express-session
      |  - Node module to sqlite sync and async.

  br

  h2.h5 Roadmap:
  ul
    li Calendar layout of meetings
    li White-labelling
    li Meeting room occupancy API

  script.
    console.log('Got upstream version from #{versionLogic}');
    console.log('Current Version: #{version}');
    console.log('Upstream Version: #{upstreamVersion}');
