doctype html
html(lang='en-US')
  head
    title MeetKettle
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon' sizes='180x180' href='/public/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='/public/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/public/favicon-16x16.png')
    link(rel='manifest' href='/public/site.webmanifest')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css')
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="/public/css/styles.css")

  body.kiosk-body

  if !errors
    - var currentTime = new Date();
    - var currentMeeting
    - var nextMeeting
    - var availability = true
    - var i = 0
    - nextMeeting = meetings[0]
    for meeting in meetings
      - var meetingStart = new Date(meeting.datetime * 1000)
      - var meetingEnd = new Date(meeting.datetime * 1000 + meeting.duration * 1000)
      if (meetingStart <= currentTime && meetingEnd >= currentTime)
        - availability = false
        - currentMeeting = meeting
        - nextMeeting = meetings[i+1]
        if (nextMeeting > meetings.length)
          - nextMeeting = null
      if (nextMeeting)
        - var nextMeetingStart = new Date(nextMeeting.datetime * 1000)
        if (nextMeetingStart < currentTime)
          - nextMeeting = meetings[i+1]
      - i++
    .row.g-0.full-height
      .col-md-3
        .row.h-100.g-0
          if (availability == false)
            .bg-unavailable.m-0.full-height
          else
            .bg-available.m-0.full-height
      .col-md-9.full-height
        .row.g-0.mx-4.full-height
          h2.fw-normal.my-4 #{roomName.toUpperCase()}
            - var timeFormatOptions = { hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: true, }
            - var timeNow = new Date().toLocaleTimeString('en-GB', timeFormatOptions).toUpperCase()
            span#clock.float-end.fs-4 #{timeNow}
          .d-md-block
            a#book-button.btn.btn-primary(href='/kiosk/meetingadd')
              i.fa.fa-plus.me-2
              span RESERVE NEW MEETING
          if (availability == false)
            h1.kiosk-status.text-center.text-danger.pt-5 BUSY
            - var timeFormatOptions = { hour: '2-digit', minute: '2-digit', hour12: true, }
            - var startTime = new Date(currentMeeting.datetime * 1000).toLocaleTimeString('en-GB', timeFormatOptions).toUpperCase()
            - var endTime = new Date(currentMeeting.datetime * 1000 + currentMeeting.duration * 1000).toLocaleTimeString('en-GB', timeFormatOptions).toUpperCase()
            #until.text-center.text-dark.fw-bold.fs-4 UNTIL 
              span #{endTime}
              button.btn.btn-outline-danger.ms-2.align-top(data-bs-toggle='modal' data-bs-target='#modal-end' data-id=currentMeeting.id data-datetime=currentMeeting.datetime data-duration=currentMeeting.duration data-roomid=room) END
              button.btn.btn-outline-primary.ms-2.align-top(data-bs-toggle='modal' data-bs-target='#modal-extend' data-id=currentMeeting.id data-datetime=currentMeeting.datetime data-duration=currentMeeting.duration data-roomid=room) EXTEND
            #meetingCurrent.text-center.text-dark.fs-5 #{currentMeeting.description} | #{startTime} | #{currentMeeting.service.split('_').map( w =>  w.substring(0,1).toUpperCase()+ w.substring(1)).join(' ')}
          else
            h1.kiosk-status.text-center.text-success.pt-5 FREE
            #until.text-center.text-dark.fw-bold.fs-4 &nbsp;
            #meetingCurrent.text-center.text-dark.fs-5 &nbsp;
          #meetingNext
            if (nextMeeting)
              .card.shadow.mb-4
                .row.g-0
                  .col-md-3
                    img.align-content-start.pt-4.ps-3(src='/public/images/' + nextMeeting.service + '.svg' width='60' alt=`${nextMeeting.service}`)
                  .col-md-9
                    .card-body
                      h5.card-title #{nextMeeting.description}
                      - var timeFormatOptions = { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', hour12: true, }
                      - var datetime = new Date(nextMeeting.datetime * 1000).toLocaleString('en-GB', timeFormatOptions).toUpperCase()
                      p.card-text
                        span(title=`${datetime}` data-bs-toggle='tooltip' data-bs-placement='right' data-timestamp=nextMeeting.datetime) #{datetime}
                .row.g-0.px-4
                      p.card-text.mb-0
                        - var timeFormatOptions = { hour: '2-digit', minute: '2-digit', hour12: true, }
                        - var meetingStart = new Date(nextMeeting.datetime * 1000).toLocaleString('en-GB', timeFormatOptions).toUpperCase()
                        - var meetingEnd = new Date((nextMeeting.datetime + nextMeeting.duration) * 1000).toLocaleString('en-GB', timeFormatOptions).toUpperCase()
                        i.fa.fa-clock-o.pe-1
                        span #{meetingStart}
                        i.fa.fa-long-arrow-right.text-muted.px-2
                        i.fa.fa-clock-o.text-muted.pe-1
                        span #{meetingEnd}
                        span.me-4.pe-4

    //- Modal for Extend Meeting
    #modal-extend.modal.fade(tabindex='-1')
      .modal-dialog.modal-dialog-centered
        .modal-content
          .modal-header
            h5.modal-title Extend Meeting?
            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
          .modal-body
            form#extend-form(method='POST' action='/meetings/extend')
              input#extend-id(type='hidden' name='id')
              input#extend-roomid(type='hidden' name='roomid')
              input#extend-datetime(type='hidden' name='datetime')
              input#extend-duration(type='hidden' name='duration')
              input#extend-extend(type='hidden' name='extend' value='900')
            p Are you sure you want to extend the meeting by 15 minutes?
            ul#extend-errors.text-danger
          .modal-footer
            button.btn.btn-secondary(type='button' data-bs-dismiss='modal') No
              i.fa.fa-times.mx-2
            button.btn.btn-primary(type='submit' form='extend-form') Yes
              i.fa.fa-check.mx-2

    //- Modal for End Meeting
    #modal-end.modal.fade(tabindex='-1')
      .modal-dialog.modal-dialog-centered
        .modal-content
          .modal-header
            h5.modal-title End Meeting?
            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
          .modal-body
            form#end-form(method='POST' action='/meetings/end')
              input#end-id(type='hidden' name='id')
              input#end-roomid(type='hidden' name='roomid')
              input#end-datetime(type='hidden' name='datetime')
              input#end-duration(type='hidden' name='duration')
            p Are you sure you want to end the current meeting?
            ul#end-errors.text-danger
          .modal-footer
            button.btn.btn-secondary(type='button' data-bs-dismiss='modal') No
              i.fa.fa-times.mx-2
            button.btn.btn-danger(type='submit' form='end-form') Yes
              i.fa.fa-check.mx-2

  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js')
  script(src='/public/js/kiosk-room.js')

  if errors
    ul.text-danger
      for error in errors
        li!= error.msg
