doctype html
html(lang='en-US')
  head
    title MeetKettle
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon' sizes='180x180' href='/public/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='/public/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/public/favicon-16x16.png')
    link(rel='manifest' href='/public/site.webmanifest')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css')
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="/public/css/styles.css")

  body.kiosk-body

  if !errors
    - var currentTime = new Date();
    - var currentMeeting
    - var nextMeeting
    - var availability = true
    - var i = 0
    - nextMeeting = meetings[0]
    for meeting in meetings
      - var meetingStart = new Date(meeting.datetime * 1000)
      - var meetingEnd = new Date(meeting.datetime * 1000 + meeting.duration * 1000)
      if (meetingStart <= currentTime && meetingEnd >= currentTime)
        - availability = false
        - currentMeeting = meeting
        - nextMeeting = meetings[i+1]
        if (nextMeeting > meetings.length)
          - nextMeeting = null
      - i++
    .row.g-0.full-height
      .col-md-3
        .row.h-100.g-0
          if (availability == false)
            .bg-unavailable.m-0.full-height
          else
            .bg-available.m-0.full-height
      .col-md-9.full-height
        .row.g-0.mx-4.full-height
          h2.fw-normal.my-4 #{roomName.toUpperCase()}
            span#clock.float-end.fs-4 00:00:00
          .d-md-block
            button.btn.btn-primary BOOK NEW MEETING
              i.fa.fa-plus.mx-2
          if (availability == false)
            h1.kiosk-status.text-center.text-danger.pt-5 BUSY
            - var timeFormatOptions = { hour: '2-digit', minute: '2-digit', hour12: true, }
            - var startTime = new Date(currentMeeting.datetime * 1000).toLocaleTimeString('en-GB', timeFormatOptions).toUpperCase()
            - var endTime = new Date(currentMeeting.datetime * 1000 + currentMeeting.duration * 1000).toLocaleTimeString('en-GB', timeFormatOptions).toUpperCase()
            #until.text-center.text-dark.fw-bold.fs-4 UNTIL #{endTime}
            #meetingCurrent.text-center.text-dark.fs-5 #{currentMeeting.description} | #{startTime} | #{currentMeeting.service.split('_').map( w =>  w.substring(0,1).toUpperCase()+ w.substring(1)).join(' ')}
          else
            h1.kiosk-status.text-center.text-success.pt-5 FREE
            #until.text-center.text-dark.fw-bold.fs-4 &nbsp;
            #meetingCurrent.text-center.text-dark.fs-5 &nbsp;
          #meetingNext
            if (nextMeeting)
              - var timeFormatOptions = { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', hour12: true, }
              - var datetime = new Date(nextMeeting.datetime * 1000).toLocaleString('en-GB', timeFormatOptions).toUpperCase()
              span.btn.btn-secondary.bottom-align-text.fw-bold NEXT MEETING: 
                span.fw-normal #{datetime} | #{nextMeeting.description} | #{nextMeeting.service.split('_').map( w =>  w.substring(0,1).toUpperCase()+ w.substring(1)).join(' ')}
            else
              span.btn.btn-secondary.disabled.bottom-align-text.fw-bold NEXT MEETING: 
                span.fw-normal None

  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js')
  script(src='/public/js/kioskroom.js')

  if errors
    ul.text-danger
      for error in errors
        li!= error.msg
