extends layout

block content
  - var navPage = 'stats'
  if errors
    h1 #{title}
    p(class={'text-danger': !errors ? undefined : 'text-danger'}) #{message}
  br
  br
  br
  
  if !errors
    .container
      .row.row-cols-2.row-cols-lg-3
        .col.mb-5
          canvas#chart-meetings-by-type
        .col.mb-5
          canvas#chart-meetings-by-room
        .col.mb-5
          canvas#chart-meetings-by-weekday
        .col.mb-5
          canvas#chart-meetings-by-dayofmonth
        .col.mb-5
          canvas#chart-duration-by-weekday
        .col.mb-5
          canvas#chart-duration-by-dayofmonth

    script(src='https://cdn.jsdelivr.net/npm/chart.js@4.4.2/dist/chart.umd.js')
    script.
      const serviceList = JSON.parse('!{JSON.stringify(serviceList)}');
      const countByService = JSON.parse('!{JSON.stringify(countByService)}');
      const roomList = JSON.parse('!{JSON.stringify(roomList)}');
      const countByRoom = JSON.parse('!{JSON.stringify(countByRoom)}');
      const weekdayList = JSON.parse('!{JSON.stringify(weekdayList)}');
      const countByWeekday = JSON.parse('!{JSON.stringify(countByWeekday)}');
      const countByDayOfMonth = JSON.parse('!{JSON.stringify(countByDayOfMonth)}');
      const durationByWeekday = JSON.parse('!{JSON.stringify(durationByWeekday)}');
      const durationByDayOfMonth = JSON.parse('!{JSON.stringify(durationByDayOfMonth)}');
    script(src='/public/js/stats.js')

    br

  if errors
    ul.text-danger
      for error in errors
        li!= error.msg
