extends layout

block content
  - var navPage = 'admin'
  h1 #{title}
  p(class={"text-danger": !errors ? undefined : "text-danger"}) #{message}
  
  form(method='POST' action='/admin/users/add')
    .form-floating.mb-3
      input#user.form-control(type='text' name='user' value=`${user}` placeholder='admin' required='required')
      label.form-label(for='user') User
        span.text-danger  *
    #passwordBox.input-group.mb-3
      .form-floating.flex-grow-1
          input#password.form-control(type='password' name='password' placeholder=' ' required='required')
          label(for='password') Password
            span.text-danger  *
      a.input-group-text.text-decoration-none(href='#')
        i.fa.fa-eye-slash
    #passwordBox2.input-group.mb-3
      .form-floating.flex-grow-1
          input#password2.form-control(type='password' name='password2' placeholder=' ' required='required')
          label(for='password2') Confirm Password
            span.text-danger  *
      a.input-group-text.text-decoration-none(href='#')
        i.fa.fa-eye-slash
    .form-floating.mb-3
      select#role.form-select(name='role')
        for urole in roleList
          if urole === role
            option(value=`${urole}` selected) #{urole}
          else
            option(value=`${urole}`) #{urole}
      label.form-label(for='role') Role
        span.text-danger  *
    button.navigate.btn.btn-primary(type='submit') Add
      i.fa.fa-plus.mx-2
  
  br

  if errors
    ul.text-danger
      for error in errors
        li!= error.msg

  script(src='/public/js/users-add.js')
